.btn-cadastrar{
    background-color: green;
    padding: 7px;
    float: right;
}
.btn-editar{
    padding: 7px;
    background-color: #4B8DD8;
    color: white;
}

.btn-editar:hover{   
    background-color: #4078B7;
    color: white;
}
.btn-habilitar{
    padding: 7px;
    background-color: #4BD84F;
    color: white;
}
.btn-habilitar:hover{   
    background-color: #40B74D;
    color: white;
}
.btn-desabilitar{
    padding: 7px;
    background-color: #D84B4B;
    color: white;
}

.btn-desabilitar:hover{   
    background-color: #B74040;
    color: white;
}